@import "../../Styles/Utils.scss";

.component_il20afar_info_field_container {
  @include wh(100%, auto);
  @include flex(column, flex-start);
  text-align: left;
  color: black;

  margin-bottom: 10px;
  .info_field_title {
    @include wh(100%, 14px);
    @include font(14px, black, 14px, 500, auto);

    margin-bottom: 2px;
  }
  .info_field_content {
    @include wh(100%, auto);
    @include font(16px, inherit !important, 16px, 300, auto);

    word-break: break-word;
    text-overflow: ellipsis;
    margin-right: 16px;

    text-decoration: none;
  }
}
