@import "../Styles/Utils.scss";

.nominations_banner {
  @include wh(auto, 0px);
  @include font(14px, ghostwhite, 40px, 300, auto);
  background-color: $purple;
  padding: 0 10px;
  overflow: hidden;
  @include transition(0.3s);

  &.show {
    height: 40px;
  }
}

.main_container {
  @include wh(100vw, 100vh);
  &.showBanner {
    height: calc(100vh - 40px);
  }
  @include flex(column, flex-start);
  background-color: $bg;
  user-select: none;

  .logo_container {
    @include wh(100%, 80px);
    @include font(40px, $logo, 80px, bold, italic);
    text-align: center;
  }

  .search_container {
    @include container(fit-content);
  }

  .content_container {
    @include container(calc(100% - 185px));
    @include flex(row, space-between);

    .result_container {
      @include wh(calc(50% - 5px), 100%);
      position: relative;
      border-radius: 10px;
      background-color: $bggray;
      box-shadow: $boxshadow;

      .title_container {
        @include wh(fit-content, 34px);
        @include font(16px, $bg, 34px, 500, auto);
        padding-left: 6px;
      }

      .content_wrapper {
        @include wh(100%, calc(100% - 40px));
        box-sizing: border-box;
        overflow: scroll;
        scroll-snap-type: y mandatory;

        > :not(:last-child) {
          margin-bottom: 10px;
        }

        &.idle {
          .icon_container {
            width: 100%;
          }
          .info_container {
            display: none;
          }
        }
      }

      &.searching {
        background-color: gray;
        border-radius: 8px;
        animation: animate_search 1s infinite ease-in-out;
        > div {
          display: none;
        }

        @keyframes animate_search {
          0% {
            background-color: rgb(211, 211, 211);
          }
          50% {
            background-color: rgb(45, 45, 45);
          }
          100% {
            background-color: rgb(211, 211, 211);
          }
        }
      }
    }

    @media only screen and (max-width: 600px) {
      @include flex(column, space-between);
    }
  }
}
